.default-header {
  background-color: #282c34;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.default-header a.button {
}
