.default-header {
  background-color: #2f528f;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

a.button {
  padding: 0 15px 0 0;
  text-align: center;
  color: white;
  border-right: 2px #2f528f solid;
}
a.button:hover {
  color: white;
  text-decoration: underline;
  /*border-right-color: white;*/
}

nav.navbar {
  padding: 0;
}

nav.navbar .container-fluid {
  padding: 0;
}

.logo {
  width: 28px;
  height: auto;
  vertical-align: middle;
  margin: 5px 15px 10px 15px;
}
