@import "http://tom.ille-web.de/css/constants.css";

.alg-menu {
  width: 25%;
  flex: 0 0 25%;
  padding: 15px;
  height: fit-content;
}

@media only screen and (max-width: 1300px) {
  .alg-menu {
    width: 100%;
    flex: 0 0 100%;
    order: 1;
  }
}

.settings-slidver {
  padding-bottom: 0.5rem;
}

hr.settings-menu {
  background-color: var(--highlight-color);
  width: 75%;
  margin-top: 0.25rem;
}

.MuiSlider-root {
  color: var(--highlight-color) !important;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.MuiSwitch-colorSecondary.Mui-checked {
  color: var(--highlight-color) !important;
}

.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background-color: var(--highlight-color) !important;
}

.algorithm-link {
  margin-bottom: 0.5rem;
}
