@import "http://tom.ille-web.de/css/constants.css";

.point-distribution-menu {
  text-align: center;
  height: 100%;
}

.settings-slider {
  padding-bottom: 0.5rem;
}

hr.settings-menu {
  background-color: var(--highlight-color);
  width: 75%;
  margin-top: 0.25rem;
}

.MuiSlider-root {
  color: var(--highlight-color) !important;
}

.MuiSwitch-colorSecondary.Mui-checked {
  color: var(--highlight-color) !important;
}

.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background-color: var(--highlight-color) !important;
}
