@import "http://tom.ille-web.de/css/default.css";

html,
body,
#root,
.container,
.App {
  height: 100vh;
  max-height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
